<h1>Reservations for <%= @restaurant.name %></h1>


<% @reservations.each do |reservation| %>
<h3><%= reservation.reservation_date %></h3>
  <ul>
    <li>Time: <%= reservation.reservation_time %></li>
    <li>Party Size <%= reservation.party_size %></li>
    <li>Special Notes: <%= reservation.notes %></li>

  </ul>

  <br>
<% end %>
